body {
    background-color: black;
    color: white;
    text-align: center;
}

#headshot {
    height: 20%;
    width: 20%;
}

.header {
    color: rgb(127, 238, 246);
    /* display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3rem; */
    display: grid;
    grid-template-columns: 52% 12% 12% 12% 10%;
    align-self: center;
}

.header-name {
    font-size: 3rem;
    text-align: left;
    padding-left: 1rem;
}