body {
    background-color: black;
    color: white;
    text-align: center;
}

/* Header */
.header {
    color: rgb(127, 238, 246);
    /* display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3rem; */
    display: grid;
    grid-template-columns: 52% 12% 12% 12% 10%;
    align-self: center;
}

.header-name {
    font-size: 3rem;
    text-align: left;
    padding-left: 1rem;
}

/* About Me */
.about {
    display: grid;
    grid-template-columns: 50% 50%;
    /* grid-template-rows: 50%; */
    align-items: center;
    justify-items: center;
}
.about-text{
    text-align: right;
    padding-right: 4rem;
}

#headshot {
    height: 80%;
    width: 60%;
    /* padding-top: 4rem;
    padding-left: 4rem; */
}

.about-title {
    font-size: 2rem;
}

/* Projects */
.project-big-title {
    font-size: 3rem;
    padding-bottom: 3rem;
    text-align: right;
    padding-right: 3rem;
}
.projects {
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: 20rem 20rem 20rem;
    text-align: left;
    padding-left: 2rem;
}

.project {
    /* margin: 2rem; */
}

.project-title {
    font-size: 2rem;
    padding-bottom: 2rem;
}

/* Contact */